.buttons-container-l {
  height: 150px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.initial-l {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.initial-l:hover {
  animation: initialHover .5s forwards;
  transition: font-size 1s, opacity 1s;
}

@keyframes buttonColor {
  0% {background-color: rgba(150, 117, 169, 0.65)}
  50% {background-color: rgba(4, 72, 129, 0.51)}
  100% {background-color: rgba(12, 29, 62, 0.65)}
}


.aboutButtons-l {
  border-radius: 5px;
  height: 60px;
  width: 600px;
  animation: buttonColor 20s linear alternate infinite;
  margin-bottom: 0px;
}



.aboutButtons {
  border-radius: 5px;
  height: 60px;
  width: 350px;
  margin: 20px auto 30px auto;
  animation: buttonColor 20s linear alternate infinite;
}

.aboutButton {
  width: 100px;
  height: 60px;
  padding-top: 12px;
  transition: all 2s;
}

.youtubeButton {
  width: 100px;
  margin-top: 0px;
  padding-top: 3px;
  opacity: .9;
  border-radius: 2px;
  height: 60px;
  margin-top:0px;
  transition: all 1s;
}

.youtubeButton:hover, .aboutButton:hover, .spotifyButton:hover {
  background-color: rgba(255,255,255, 0.2);
}

.spotifyButton {
  width: 100px;
  height: 60px;
  padding-top: 12px;
  transition: all 2s;
}
