.aboutContainer-l {
 height: 500px;
 margin-top: 0px;
 margin-bottom: -85px;
 overflow: scroll;
 border-radius: 10px;
}

.aboutMe-l {
  width: 800px;
  font-size: calc(12px + .5vw);
  background-color: rgba(4, 72, 129, 0.51);
  padding: 5px;
}
