
.card-footer {
  width: 100%;
  height: 250px;
  margin-top: -15px;
  padding: 15px;
  background-color: rgba(150, 179, 219, .8);
  color: black;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

ul {
  font-size: calc(8px + .5vw);
}


.text-container {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  padding: 15px;
  background-color: rgba(240, 220, 228, 0.54);
  color: white;
  overflow: scroll;
  border-radius: 5px;
}


.nextProj {
  margin-top: 30vh;
}

p {
  font-size: calc(7px + .5vw);
}

.data {
  font-size: 10px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  padding: 0px 0px;
  transition: all 3s;
  border-color: black;
  background-color: rgba(150, 117, 169, 0.65);
}

.data:hover {
  background-color: rgba(4, 72, 129, 0.51);
}

.data:focus {
  background-color: rgba(12, 29, 62, 0.65);
}

.initial-project {
  width: 40px;
  height: 40px !important;
  font-size: 20px;
  padding-top: auto;
  margin: -10px auto 50px;
  text-align: center;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  transition: height 1s;
  font-weight: bolder;
}

.initial-project:hover {
  animation: initialHover .5s forwards;
  transition: font-size 1s, opacity 1s;
}

.pro-title {
  font-size: 20px;
  margin: 8px auto;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  height: 100%;
  border-color: 5px solid yellow;
}

.proj-button-right {
  grid-column: 6/7;
  grid-row: 1/2;
  height: 100%;
  width: 100px;
  margin-right: 0px;
  z-index: 1;
  margin-left: auto;
  opacity: .4;
  background: linear-gradient(to right, transparent, lightgrey);
  transition: opacity 3s;
  color: black;
}

.proj-button-right:hover {
  opacity: 1;
}

.proj-button-left {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
  width: 100px;
  margin-right: 0px;
  background-color: black;
  z-index: 1;
  opacity: .4;
  background: linear-gradient(to left, transparent, lightgrey);
  transition: opacity 2s;
  color: black;
}

.proj-button-left:hover {
  opacity: 1;
}

.card-image {
  grid-column: 1/7;
  grid-row: 1/2;
  margin-top: -30px;
  opacity: 0.8;
  border-radius: 10px 10px 0px 0px;
  z-index: -1px;
}

.chev-left {
  margin-top: 18vh;
  margin-left: 5px;
}

.chev-right {
  margin-top: 18vh;
  padding-right: 0px;
  padding-left: 63%;
}
