.youtube {
  transition: all 5s;
  padding: 50px 0px 40px;
  margin: 30px 0px;
}

.large {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom:0px;
}

.medium {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom:0px;
}

.small {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom:0px;
  margin-left: auto;
  margin-right:auto;
}
