.App {
  background-color: #282c34;
  background-image: url('./01img/benjamin-voros-575800-unsplash.jpg');
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Quicksand', sans-serif;
}

.insta {
  margin-top: -4.5px;
}
